<div class="header">
  <input type="text" class="inp_search" [(ngModel)]="searchQuery">
  {{searchQuery}}
</div>
<div class="swiper_movie swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" *ngFor="let item of items">
      <span>{{item.actor}}</span>
      <img src="{{item.image}}" width="100%" height="100%">
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <!--<div class="swiper-button-prev"></div>-->
  <!--<div class="swiper-button-next"></div>-->
</div>
