<div class="header">
  <div class="search">
    <input type="text" class="searchTerm inp_search" placeholder="영화 이름을 입력하세요" [(ngModel)]="searchQuery"/><input class="searchButton" type="submit"/>
  </div>
</div>
<div class="swiper_movie swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" *ngFor="let item of items; let i = index;" data-hash={index}>
      <div class="wrap_thumbnail">
        <img src="{{item.image?item.image:'http://static.naver.net/movie/2012/06/dft_img203x290.png'}}" width="200px" height="200px">
      </div>
      <div class="info_movie">
        <h3>Info :: Not yet implemented</h3>
        <dl>
          <dt>평점</dt>
          <dd><span>{{item.userRating?item.userRating:'No Data'}}</span></dd>
          <dt>감독</dt>
          <dd><span>{{item.director?item.director:'No Data'}}</span></dd>
          <dt>배우</dt>
          <dd><span>{{item.actor?item.actor:'No Data'}}</span></dd>
        </dl>
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <!--<div class="swiper-button-prev"></div>-->
  <!--<div class="swiper-button-next"></div>-->
</div>
<div class="footer">
  <span>Copyright @ gmanpark</span>
</div>
